# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/.terraform.lock.hcl

# Logs
*.log

# Environment files
.env

# VS Code
.vscode/

# macOS
.DS_Store

# Linux
*~

# Temporary files
*.tmp

infra/terraform/.terraform/
terraform.tfstate
terraform.tfstate.*
*.backup
kubeconfig-file
console_log*.txt